@import "Global.scss";

#students-search{

    background-color: $search_gray;
    width: max-content;
    border-radius: 30px;
    padding: 3px 20px;
    margin: 10px auto;


    input{
        background-color: $search_gray;
        border: none;
        margin: 5px;
        direction: rtl;
        padding: 5px;
        width: 250px;

        &:focus{
            outline: none;
        }
    }
}