#settings {
    direction: rtl;

    p{
        margin: 0
    }

    .settings-content {
        padding: 50px 200px;

        .settings-div {
            text-align: right;
            width: 90%;
            margin: 0 auto 20px auto;
            padding: 10px 15px;
            border-radius: 7px;
            transition: 1s ease-in-out;

            .settings-header {

                display: flex;
                margin-bottom: 20px;

                h4 {
                    display: inline;
                    margin-left: 5px;
                    margin-bottom: 0;
                }

                a {
                    display: inline;
                    color: gray;
                    text-decoration: none;
                    font-size: 20px;
                    padding: 0 7px;
                    border-radius: 50%;
                    transition: .3s ease-in-out;
                    line-height: 1.2;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.219);
                    }
                    
                }

                
                #logout{
                    color: red;
                    border-radius: 5px;
                    font-size: 16px;
                    padding: 4px 3px;
                    
                    &:hover {
                        background-color: rgba(255, 93, 93, 0.446);
                    }
                }

            }

            .logged-user {
                display: flex;

                img {
                    height: 60px;
                    border-radius: 50%;
                }

                .logged-user-details{

                    padding-right: 20px;
                    padding-top: 3px;
                    
                }
            }

            #new-user-form {
                display: none;

                input{
                    margin: 0 10px;
                    padding: 0 10px;
                    border: none;
                    border-bottom: 1px solid gray;

                    &:focus{
                        outline: none;
                    }
                }

                button{
                    margin: 0 10px;
                    border-radius: 7px;
                    background: none;
                    border: 1px solid gray;
                    color: gray;
                    transition: .3s ease-in-out;
                    &:hover{
                        background-color: rgba(128, 128, 128, 0.219);
                    }
                }

                a {
                    display: inline;
                    color: gray;
                    text-decoration: none;
                    font-size: 16px;
                    padding: 1px 7px;
                    border-radius: 50%;
                    transition: .3s ease-in-out;

                    &:hover {
                        background-color: rgba(255, 0, 0, 0.157);
                        color: rgba(255, 0, 0, 0.67);
                    }
                }
            }

        }
    }

    h3 {
        margin-bottom: 30px;
    }



}