#settings{
    direction: rtl;

    h3{
        margin-bottom: 30px;
    }

    .settings-div{
        text-align: right;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.698);
        width: 90%;
        margin: 0 auto 20px auto;
        padding: 10px 15px;
        border-radius: 7px;
        transition: 1s ease-in-out;

        .settings-header{
            h4{
                display: inline;
                margin-left: 15px;
            }

            a{
                display: inline;
                color: gray;
                text-decoration: none;
                font-size: 20px;
                border: .5px solid gray;
                padding: 1px 7px;
                border-radius: 50%;
                transition: .3s ease-in-out;

                &:hover{
                    background-color: rgba(128, 128, 128, 0.219);
                }
            }

        }

        #new-user-form{
            transition: 1s ease-in-out;
            display: none;

            a{
                display: inline;
                color: gray;
                text-decoration: none;
                font-size: 20px;
                border: .5px solid gray;
                padding: 1px 7px;
                border-radius: 50%;
                transition: .3s ease-in-out;

                &:hover{
                    background-color: rgba(128, 128, 128, 0.219);
                }
            }
        }

        #new-field-form{

            input,
            select{
                width: 150px;
                margin-left: 20px;
                height: 25px;
            }

            button{
                border: 2px solid #4390c7;
                color: #4390c7;
                border-radius: 10px;
                background: none;
                padding: 3px 7px;
                transition: .5s;
                height: 33px;

                &:hover{
                    background-color: #b8d9f1c9;
                }
            }
        }
        

        .custom-field{
            display: flex;
            direction: rtl;

            .field-details{
                margin-left: 50px;

                span{
                    margin: 0 15px
                }
            }
        }
    }

}