#student-details{

    #student-details-header{
        background: rgb(67,144,199);
        background: linear-gradient(90deg, rgba(67,144,199,1) 0%, rgba(34,72,100,1) 100%);
    
        text-align: right;
        padding: 50px;
    
        color: white;
        border-bottom-left-radius: 50%;

        h4{
            font-weight: bold;
        }

        .header-detail-div{
            direction: rtl;

            p{
                display: inline;
                margin-right: 15px;
            }
        }

    }

    #nav-buttons{
        direction: rtl;
        position: fixed;
        top: 80px;
        left: 0;
        text-align: right;
        width: 100%;
        margin: 0;
        padding-right: 15px;
        
        a{
            text-decoration: none;
            color: white;
        }
    
        i{
            font-size: 23px;
            padding-top: 5px;
        }
    
        p{
            margin-right: 5px;
            font-size: 17px;
            display: inline-block;
        }
    }

    .action-links{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;

        button{
            border: none;
            background: none;
        }
    
        .actions-link{
            margin: 10px;
    
            i{
                color: black;
                font-size: 23px;
                box-shadow: 0 0 5px gray;
                padding: 15px;
                border-radius: 10px;
                width: 70px;
            }
        }
    }

    #student-full-details{
        text-align: right;
        direction: rtl;
    }

    #lessons{


        
        .lesson-div{
            margin-right: auto;
            margin-left: auto;
            max-width: 300px;
            text-align: right;
            
            p{
                display: inline-block;
                margin: 5px;
            }

            .index{
                font-weight: bold;
                color: white;
                background-color: #4390c7;
                padding: 5px 10px;
                border-radius: 7px;
                text-decoration: none;
            }
        }
    }
}
