#topNavButtons{
    padding-top: 20px;
    text-align: center !important;
    width: 60%;
    display: flex;
    justify-content: center;
}

.topNavButtonDiv a{
    text-decoration: none;
    color: black;
}

.topNavButtonDiv a:hover{
    border-bottom: .5px solid #88AFCB;
    cursor: pointer;
    transition: ease-in-out 1s;
}

.topNavButtonDiv a:hover .topNavLabel:nth-child(1){
    display: block;
}

#topNavButtons a i {
    font-size: 30px;
    padding: 5px;
    margin: 0 20px;
}

.topNavButtonDiv{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.topNavLabel{    
    z-index: 33;
    margin-top: 10px;
    display: none;
}

.topNavLabel p{
    background-color: #88AFCB;
    border-radius: 15px;
    padding: 3px 7px 5px 7px;
    margin: 0;
}