#topNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: right;
    display: flex;
    direction: rtl;
    padding-left: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.712);
    z-index: 20;

    
    // top nav logo
    #topNavLogo{
        width: 30%;
        right: 0;
        margin: 0;
    }
    
    #topNavLogo img{
        max-height: 73px;
        padding: 0;
    }
    
    

    // top nav buttons
    #topNavButtons{
        padding-top: 17px;
        text-align: center !important;
        width: 60%;
        display: flex;
        justify-content: center;
    
        .topNavButtonDiv{    
            display: flex;
            flex-direction: column;
            width: max-content;
        
            i{
                font-size: 30px;
                padding: 5px;
                margin: 0 20px;
            }
        
            a{
                text-decoration: none;
                color: #4390c7;
                transition: .3s;
                cursor: pointer;
            }
        
            a:hover{
                color: #1573b6;
            }
        
            &::after{
                content: attr(data-tooltip);
                position: block;
                top: 75px;
                background-color: #1573b6;
                color: white;
                padding: 3px 5px;
                margin-top: 20px;
                border-radius: 3px;
                text-align: center;
                transition: 200ms ease-in;
                opacity: 0;
            }
        
            &:hover::after{
                opacity: 1;
            }
        }
        
    }
    
    // top nav account buttons
    #top-nav-acc-btns{
        width: 30%;
        text-align: left;
        margin-left: 0;
        padding-top: 14px;

        button{
            background-color: none;
            color: #1573b6;
            border: 1px solid #1573b6;
            border-radius: 7px;
            margin-top: 7px;
            transition: .3s ease-in-out;

            &:hover{
                background-color: #1573b63b;
            }
        }

        #user-menu{
            display: inline;
            cursor: pointer;

            img{
                border-radius: 50%;
                height: 40px;
                margin-bottom: 16px;
            }
            
            #account-menu{
                margin-left: 0;
                background-color: white;
                width: max-content;
                position: absolute;
                left: 0;
                transition: .7s ease-in-out;
                box-shadow: 0 0 15px rgba(128, 128, 128, 0.445);
                opacity: 0;
                left: -200px;

                a{
                    display: block;
                    color: black;
                    text-decoration: none;
                    padding: 10px 15px;
                    transition: .3s ease-in-out;

                    &:hover{
                        background-color: rgba(128, 128, 128, 0.342);
                    }
                }
            }
        
            &:hover #account-menu{
                left: 0;
                opacity: 1;
            }
        }

        i{
            font-size: 25px;
            color: #4390c7;
            transition: .3s;
            margin-left: 10px;
            padding: 10px;

            &:hover{
                color: #1573b6;
            }
        }
    }
    
    
    @media only screen and (max-width: 600px) {
        .topNavButtonDiv{
            i{
                margin: 0;
            }

            &::after{
                display: none;
            }
        }

        #topNavLogo img{
            margin-top: 5px;
            padding-right: 5px;
        }
    }
}

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}